<h1>Hey,  whassup,  hello</h1>
<section>
  <div class="row">
    <div class="column small-12 medium-12 large-12">
      <p class="snippet">
        Welcome. This is a Rails app that allows you to easily send me fan emails from the comfort of your browser...
      </p>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="column small-12 medium-12 large-12">
      <p class="snippet">
        All you need to do, is <em>click/tap</em> on <strong>contact</strong> up above and fill out the required fields.
        <br />
        <br />
        <a href="http://sirmatt.github.io/">Take me back to Matt's site.</a>
      </p>
    </div>
  </div>
</section>
