// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
body {
  margin: 0;
}
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
@mixin heading-font {
  font-family: 'Monoton', cursive;
  @extend .text-center;
}
@mixin shadow {
  -moz-box-shadow:    2px 2px 3px 2px gray;
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  box-shadow:         2px 2px 3px 2px gray;
}
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  margin-top: -10px;
  height: 100%;
  }
section {
  @extend .row;
  @extend .text-center;
  @extend .text-justify;
  margin-top: 20px;
}

h1, h2, h3 {
  @include heading-font;
}

li.logo-name {
  font-family: 'Space Mono', monospace;
  font-size: 2em;
}

li#contact-link a {
  font-family: 'Space Mono', monospace;
  font-size: 2em;
}

.snippet {
  @include shadow;
  background-color: mintcream;
  border-radius: 7pt;
  border: 1.5px solid black;
  max-width: 20em;
  margin: 0 auto;
  padding: 1em;
}

@media (max-width: 801px) {
  main {
    margin-top: 0.5px;
  }
  li#contact-link a {
    font-size: 16px;
  }
}
